<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQrTGicXR9l5qqBSqhiTHcPsKatI2sDoE</string>
	<key>GCM_SENDER_ID</key>
	<string>199123694875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSmash</string>
	<key>PROJECT_ID</key>
	<string>smash-ad2bc</string>
	<key>STORAGE_BUCKET</key>
	<string>smash-ad2bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199123694875:ios:7d41f9cfcc8a671b0e4fbe</string>
</dict>
</plist>